body{
  width:100vw;
    width:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background:url(background\ img.webp)no-repeat ; */
    background-position: center;
    background-size: cover;
    /* color: cadetblue; */
    /* background-color: aquamarine; */

}

#FORM{
  color: rgb(87, 2, 11);
  background-color:burlywood ;
}

        label {
            font-weight: 500;
            margin-top: 1px;
            display: block;
            color: #444;
        }
        input[type="submit"] {
            margin-top: 20px;
            background-color: #3498db;
            color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease;
        }